@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Outfit:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    font-family: Outfit;
}
.primary{
    background-color:#5F6FFF ;
}
::-webkit-scrollbar{
    @apply hidden
}